// Header section
header{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mxw-767{
        height: 40vh;
    }

    .header_bg{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: 0;
        left: 0;
    }

    .title{
        font-size: calc(20px + (120 - 20) * ((100vw - 320px) / (1920 - 320)));
        position: relative;
        z-index: 1;
        color: $color-tertiary;
        text-transform: uppercase;
    }
}

// About Section
.bd_about{
    display: grid;
    grid-gap: 10vw;
    grid-template-columns: 50% auto;
    padding: 10vh 5%;

    @include mxw-767{
        grid-template-columns: auto;
    }

    .content{
        p{
            font-size: calc(20px + (36 - 20) * ((100vw - 320px) / (1920 - 320)));
        }
    }
    .btn_primary{
        margin-top: 3vh;
    }
}

// Dragable Slider 