@font-face {
    font-family: 'Scto Grotesk A';
    src: url('../../fonts/SctoGroteskA/SctoGroteskA.woff2') format('woff2'),
         url('../../fonts/SctoGroteskA/SctoGroteskA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }